In [15]:
import pandas as pd
import re

In [23]:
def read_advanced_season_stats(filepath):
    '''
    Function reads in the file at 'filepath' and returns a dataframe of the advanced stats
    Inputs: filepath--a path to the file (*advanced.csv)
    Returns: dataframe of per season advanced stats
    '''
    df = pd.read_csv(filepath)
    #pull the seasonal years from the filepath
    years = re.findall(r"\d\d\d\d",filepath)
    #remove the "blank" columns that were added via the data mining recipe
    df.drop(['Blank', 'Blank.1'], axis=1, inplace=True)
    #Get the ending year for the season
    df['Season'] = int(years[-1])
    
    return df

In [24]:
df0607 = read_advanced_season_stats('../data/advanced/2006-2007_player_advanced.csv')

Some of the rows have NANs in them, probably from players who do not have many minutes

In [25]:
df0607.info()
df0607[df0607.isnull().any(axis=1)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 28 columns):
Rk        516 non-null int64
Player    516 non-null object
Pos       516 non-null object
Age       516 non-null int64
Tm        516 non-null object
G         516 non-null int64
MP        516 non-null int64
PER       516 non-null float64
TS%       513 non-null float64
3PAr      513 non-null float64
FTr       513 non-null float64
ORB%      516 non-null float64
DRB%      516 non-null float64
TRB%      516 non-null float64
AST%      516 non-null float64
STL%      516 non-null float64
BLK%      516 non-null float64
TOV%      513 non-null float64
USG%      516 non-null float64
OWS       516 non-null float64
DWS       516 non-null float64
WS        516 non-null float64
WSp48     516 non-null float64
OBPM      516 non-null float64
DBPM      516 non-null float64
BPM       516 non-null float64
VORP      516 non-null float64
Season    516 non-null int64
dtypes: float64(20), int64(5), object(3)
memory usage: 113.0+ KB

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,USG%,OWS,DWS,WS,WSp48,OBPM,DBPM,BPM,VORP,Season
9,9,Lou Amundson,PF,24,UTA,1,2,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,-0.004,-5.3,0.2,-5.1,0.0,2007
94,88,Will Conroy,SG,24,MEM,3,17,4.2,NaN,NaN,...,0.0,0.0,0.0,0.0,0.035,-2.9,-0.1,-3.1,0.0,2007
398,351,Jeremy Richardson,SF,22,POR,1,1,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,-0.021,-5.7,-0.2,-5.8,0.0,2007

In [14]:
df0607[df0607.isnull().any(axis=1)].T

                 9            94                 398
Rk                 9           88                351
Player  Lou Amundson  Will Conroy  Jeremy Richardson
Pos               PF           SG                 SF
Age               24           24                 22
Tm               UTA          MEM                POR
G                  1            3                  1
MP                 2           17                  1
PER                0          4.2                  0
TS%              NaN          NaN                NaN
3PAr             NaN          NaN                NaN
FTr              NaN          NaN                NaN
ORB%               0            7                  0
DRB%               0            7                  0
TRB%               0            7                  0
AST%               0          7.8                  0
STL%               0            0                  0
BLK%               0            0                  0
TOV%             NaN          NaN                NaN
USG%               0            0                  0
OWS                0            0                  0
DWS                0            0                  0
WS                 0            0                  0
WSp48         -0.004        0.035             -0.021
OBPM            -5.3         -2.9               -5.7
DBPM             0.2         -0.1               -0.2
BPM             -5.1         -3.1               -5.8
VORP               0            0                  0